<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VAS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <VAS.Properties.Settings>
            <setting name="TCPAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="UDPAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="TCPPort" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="UDPPort" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="AnchorSize" serializeAs="String">
                <value>70,70</value>
            </setting>
            <setting name="SBDActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SBDThreshold" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="FromDevice" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeviceNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FileName" serializeAs="String">
                <value>MotoGPSlowMotion.avi</value>
            </setting>
            <setting name="VIZSceneName" serializeAs="String">
                <value>/MotoGP/Scenes/AnchorScn</value>
            </setting>
            <setting name="FrameWorkingSize" serializeAs="String">
                <value />
            </setting>
            <setting name="ActivateResize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CaptureResolution" serializeAs="String">
                <value />
            </setting>
            <setting name="CaptureFrameRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxAnchorDisplacement" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SendDataDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActivateSCIM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultSceneToReload" serializeAs="String">
                <value>/MotoGP/Scenes/2015</value>
            </setting>
            <setting name="SceneTrackingMode" serializeAs="String">
                <value>/MotoGP/Scenes/AnchorScn</value>
            </setting>
        </VAS.Properties.Settings>
    </userSettings>
</configuration>